BS.GetSubId/Resources/GetSubId.wsdl

<wsdl:definitions name="GetSubId" targetNamespace="http://xmlns.oracle.com/VASPLatformServiceBus/BS.GetSubId/GetSubId" xmlns:tns="http://xmlns.oracle.com/VASPLatformServiceBus/BS.GetSubId/GetSubId" xmlns:inp1="http://vasplatform.mobifone.vn" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="GetSubId">
        <plnk:role name="GetSubIdProvider" portType="tns:GetSubId_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://vasplatform.mobifone.vn" schemaLocation="../Schemas/NEOFormat.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Operation1_inputMessage">
        <wsdl:part name="request" element="inp1:getSubIdRequest"/>
    </wsdl:message>
    <wsdl:message name="Operation1_outputMessage">
        <wsdl:part name="reply" element="inp1:getSubIdResponse"/>
    </wsdl:message>
    <wsdl:message name="GET_inputMessage">
        <wsdl:part name="request" element="inp1:getSubIdRequest"/>
    </wsdl:message>
    <wsdl:message name="GET_outputMessage">
        <wsdl:part name="reply" element="inp1:getSubIdResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetSubId_ptt">
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:Operation1_inputMessage"/>
            <wsdl:output message="tns:Operation1_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GET">
            <wsdl:input message="tns:GET_inputMessage"/>
            <wsdl:output message="tns:GET_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetSubId_ptt-binding" type="tns:GetSubId_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation1">
            <soap:operation soapAction="Operation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GET">
            <soap:operation soapAction="GET"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>